.feeds-wrapper{
    position: relative;
}
.feeds-wrapper .heading {
    color: #929292;
    font-size: 22px;
    letter-spacing: 2px;
}
.feeds-wrapper .card {
    width: 268px;
    height: 236px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0 0 10px 0;
    border-radius: 5px;
}
.feeds-wrapper .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.feeds-list li>a{
    text-decoration: none;
}
ul.feeds-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.feeds-list li {
    display: inline-block;
    padding: 10px;
}
.feeds-wrapper .card img{
    height: 170px;
    width: 266px;
    border-radius: 5px 5px 0 0
}
.feeds-list .card-title {
    font-size: 13px;
    color: #0087a6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 230px;
    margin: 0 auto;
    padding-top: 4px;
}
.feeds-list .card-description {
    font-size: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #797979;
    padding: 0 8px;
}
.feeds-loader {
    color: #8d8d8d;
    margin-top: 80px;
    letter-spacing: 1px;
}
.FeedDetailPage {
    max-height: 520px;
    max-width: 630px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 55%);
    transition: 0.3s;
    padding: 0 0 10px 0;
    border-radius: 15px;
}
.FeedDetailPage img{
    max-width: 600px;
    border-radius: 17px;
}
.FeedDetailPage .card-description {
    font-size: 14px;
    padding: 0 12px;
    color: #464646;
}
.FeedDetailPage .card-title{
    color: #0087a6;
    font-weight: 500;
}
.FeedHeader {
    margin: 15px;
    display: inline-block;
    width: 91%;
    letter-spacing: 1px;
    color: #464646;
}
.FeedHeader .close{
    float: right;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #444;
    padding: 5px;
    border-radius: 8px;
}
.FeedHeader p {
    float: left;
    margin: 0;
    font-weight: bold;
    padding: 5px;
}
.overlay {
    position: fixed;
    background: #000;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    opacity: 0.6;
}