.App {
  text-align: center;  
}
.contact-wrapper h3{
  color: #929292;
  margin-top: 30px;
}
.homeContainer .centered{
  position: absolute;
  top: 35%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.homeContainer .centered h1{
  font-size: 50px;
}
.homeContainer .centered h2{
  font-size: 25px;
  color: #0087a6;
  letter-spacing: 1px;
}